<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="resources/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<h1>HELLO WORLD</h1>
<div ng-view></div>
<script src="resources/js/external/jquery.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	
	<script src="resources/js/external/angular.js"></script> 
    <script src="resources/js/external/angular-resource.min.js"></script>  
    <script src="resources/js/external/angular-route.js"></script> 
    <script src="resources/js/external/angular-cookies.js"></script> 
    
   <!--  <script src="resources/js/sockjs.js"></script>  -->
    <script src="resources/js/external/sockjs.min.js"></script> 
    <script src="resources/js/external/stomp.js"></script> 
    <script src="resources/js/external/stomp.min.js"></script> 
    <!-- <script src="resources/lodash/dist/external/lodash.min.js"></script> -->
    
	<script src="resources/js/app.js"></script>
<script src="resources/js/BlogController.js"></script>
<script src="resources/js/UserController.js"></script>
<script src="resources/js/UserService.js"></script>


<!-- <script src="resources/js/jquery-3.1.0.min.js"></script>
<script src="resources/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.9/angular-resource.min.js"></script>
<script src="resources/js/angular-route.js"></script>
<script src="resources/js/angular-cookies.js"></script>

<script src="resources/js/app.js"></script>
<script src="resources/js/BlogController.js"></script>
<script src="resources/js/UserController.js"></script> -->




</body>
</html>