<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="addform container" ng-controller="ForumController as forumCtrl">

		<form role="form" name="forumForm" method="POST" enctype="multipart/form-data">

			<div ng-if="forumCtrl.flag != 'edit'">
				<h3>Add New Forum</h3>
				<small><a href="#/forumlist">Forum List</a></small>
			</div>
			<div ng-if="forumCtrl.flag == 'edit'">
				<h3>Update Forum for ID: {{ forumCtrl.forum.forumId }}</h3>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<input type="text" class="form-control"
						placeholder="Add forum Title"
						ng-model="forumTitle" name="forumTitle" required />
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<input type="text" class="form-control"
						placeholder="Forum Description"
						ng-model="forumDescription" name="forumDescription" required />
				</div>

			</div>
			
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					 <span ng-show="forumForm.forumTitle.$error.required" class="msg-val">Title is Required</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					 <span ng-show="forumForm.forumDescription.$error.required" class="msg-val">Description is Required</span>
				</div>
			</div>
			
			<!-- <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<input type="text" class="form-control" name="forumImage" ng-model="forumCtrl.forum.forumImage">
				</div>
			</div>  -->
			
			 <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<input type="file" class="form-control" name="forumImage" file-model="myFile">
				</div>
			</div> 
			
			<!-- <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					 <span ng-show="forumForm.forumImage.$error.required" class="msg-val">Image is Required</span>
				</div>
			</div> -->
			<div class="row">
			<div class="col-md-12">
		      <span ng-if="forumCtrl.flag=='created'" class="msg-success">Forum successfully added. <a href="#/forumlist" class="btn btn-info">All forums <span class="glyphicon glyphicon-th-list"></span></a></span>
		     <span ng-if="forumCtrl.flag=='failed'" class="msg-val">Forum already exists.</span> </td>
		</div>
		</div>
	        <div class="row">
			<div class="col-md-12">
	            <div ng-if="forumCtrl.flag != 'edit'">
		       <input  class="btn btn-primary" type="submit" ng-click="forumCtrl.addForum()" value="Add forum"/> 
		       <input class="btn btn-default" type="button" ng-click="forumCtrl.reset()" value="Reset"/>
		    </div>
		    </div></div>
		    <div class="row">
			<div class="col-md-12">
		    <div ng-if="forumCtrl.flag == 'edit'">
		       <input  type="submit" ng-click="forumCtrl.updateForumDetail()" value="Update forum"/> 	
			   <input type="button" ng-click="forumCtrl.cancelUpdate()" value="Cancel"/>				   
		    </div> 
		</div></div>
		<div class="row">
			<div class="col-md-12">
		    <span ng-if="forumCtrl.flag=='deleted'" class="msg-success">Forum successfully deleted.</span>
		</div></div> 

		</form>
		
		<h2>Forum List</h2>
		<div class="table-responsive">
		<table class="table table-bordered">
		<tr>
		<th>Forum Title</th>
		<th>Created on</th>
		<th>Forum Description</th>
		</tr>
		<tr ng-repeat="f in forumCtrl.forums">
		<td>{{f.forumTitle}}</td>
		<td>{{f.forumCreationDate}}</td>
		<td>{{f.forumDescription}}</td>
		<td><input class="btn btn-info" type="button" ng-click="forumCtrl.editForum(row.forumId)" value="Edit"/></td>
		</tr>
		</table>
	</div></div>
</body>
</html>